services:
  app: 
    container_name: water-regen-app
    build:
      context: .  # Path to directory with Dockerfile
      dockerfile: Dockerfile
    image: water-regen:latest
    ports:
      - "3001:3001"
    env_file: .env
    depends_on:
      - db
    command: ["/bin/sh", "-c", "npx prisma db push && npx prisma generate && npm run start:prod"]
  db:
    image: postgres:17
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data: